<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/dashboardEmployee.css" />
    <title>Quản Lý Sách</title>
</head>

<body>
  <div class="alert" id="Alert" >
    <span class="fas fa-exclamation-circle"></span>
    <div class="close-btn">
       <span class="fas fa-times"></span>
    </div>
  </div>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('partials/navbar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Huy hà
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Thông Tin</a></li>
                                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <main>
                <div class="navigation">
                        
                    <div class="search-container">
                        <input type="text" class="search-container" id="search-content" placeholder="Tìm kiếm...">
                        <button type="submit" class="search" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                      </div>
                </div>
                <h2 style="text-align: center;">Danh sách Nhân viên</h2>
                <div class="addemployee">
                  <section id="add-employee" style="display:none">
                    <div>
                      <h2>Thêm nhân viên mới</h2>
                    </div>
                    
                    <div class="form-container">
                      <form>
                        <div class="form-row">
                          <label for="id">Mã nhân viên:</label>
                          <input type="text" id="add-id" name="add-id">
                        </div>
                        <div class="form-row">
                          <label for="name">Tên:</label>
                          <input type="text" id="add-name" name="add-name">
                        </div>
                        <div class="form-row">
                          <label for="gender">Giới tính:</label>
                          <input type="text" id="add-gender" name="add-gender">
                        </div>
                        <div class="form-row">
                            <label for="position">Chức vụ:</label>
                            <input type="text" id="add-position" name="add-position">
                        </div>
                        <div class="form-row">
                            <label for="phone">Số điện thoại:</label>
                            <input type="text" id="add-phone" name="add-phone">
                        </div>
                        <div class="form-row">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" id="add-address" name="add-address">
                        </div>
                        <div class="form-row">
                          <label for="cardid">CMND:</label>
                          <input type="text" id="add-cardid" name="add-cardid">
                        </div>
                        <div class="form-row">
                          <label for="email">Email:</label>
                          <input type="text" id="add-email" name="add-email">
                      </div>
                        <div>
                          <button id="close-add-btn" style="float: right;">Đóng</button>
                          <button type="submit" id="submit-add-btn">Thêm</button>
                        </div>
                      </form>
                    </div>
                  </section> 
                </div>
                
              <button id="add-btn">Thêm nhân viên</button>

              </main>
                <table id="employee-table">
                    <thead>
                      <tr>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Giới tính</th>
                        <th>Chức vụ</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>CMND</th>
                        <th>Email</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let i = 0; i < employeeList.length; i++) { %>
                        <tr>
                            <td id="id-<%= i %>"><%= employeeList[i].id %></td>
                            <td id="name-<%= i %>"><%= employeeList[i].name %></td>
                            <td id="gender-<%= i %>"><%= employeeList[i].gender %></td>
                            <td id="position-<%= i %>"><%= employeeList[i].role %></td>
                            <td id="phone-<%= i %>"><%= employeeList[i].phone %></td>
                            <td id="address-<%= i %>"><%= employeeList[i].address %></td>
                            <td id="cardid-<%= i %>"><%= employeeList[i].identity %></td>
                            <td id="email-<%= i %>"><%= employeeList[i].email %></td>

                            <td class="button-column" colspan="2">
                              <button class="edit-button" id="edit-btn-<%= i %>">Chỉnh sửa</button>
                              <button class="delete-button" id="delete-btn-<%= i%>">Xóa</button>
                            </td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                 
                  <div class="edit-employee">
                    <section id="edit-employee" style="display: none;">
                      <div>
                        <h2>Chỉnh sửa Nhân viên</h2>
                      </div>
                      <div>
                        
                      </div>
                      <div class="form-container">
                        <form>
                          <div class="form-row">
                            <label for="edit-name">Mã nhân viên:</label>
                            <input type="text" id="edit-id" name="edit-id">
                            <label for="edit-name">Tên:</label>
                            <input type="text" id="edit-name" name="edit-name">
                            <label for="edit-name">Giới tính:</label>
                            <input type="text" id="edit-gender" name="edit-gender">
                            <label for="edit-name">Chức vụ:</label>
                            <input type="text" id="edit-position" name="edit-position">
                            <label for="edit-name">Số điện thoại:</label>
                            <input type="text" id="edit-phone" name="edit-phone">
                            <label for="edit-name">Địa chỉ:</label>
                            <input type="text" id="edit-address" name="edit-address">
                            <label for="edit-name">CMND:</label>
                            <input type="text" id="edit-cardid" name="edit-cardid">
                            <label for="edit-name">Email:</label>
                            <input type="text" id="edit-email" name="edit-email">
                          </div>
                          <div class="button-container">
                            <button type="submit" id="submit-edit-btn">Lưu</button>
                            <button id="close-edit-btn">Đóng</button>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>
           
              </main>

            
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <script src="/scripts/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/scripts/dashboardEmployee.js"></script>
</body>
</html>